form.RegisterForm-form label {
  font-size: 1rem;
}

form.RegisterForm-form input {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

form.RegisterForm-form div {
  text-align: start;
}

form.RegisterForm-form input[type="submit"] {
  width: 100%;
  text-transform: uppercase;
}
